body{
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

#header{
    display: flex;
    background-color: #fF4b2b;
    justify-content:space-around;
    width: 100%;
    height: 70px;
}
.FormWrapper{
    display: flex;
    flex-direction: row;
}
#topText{
    position: absolute;
    padding-left: 370px;
    font-size: 4206969;
    top: 10%;
    padding-top: 170px;

}

#Capa_1{
    height: 50px;
    width: 50px;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    color:#41aea9;
}
#div{
   display: inline-flex;
}
.majorsContainer{
    display: flex;
    justify-content: center;
}
.majors{
    width: 200px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center ;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    background-color: #edf3f6;
    transition: background-color .15s linear;   
    border: 0.5px solid white;
    align-content: center;
}
.majors:hover{
    cursor: pointer;
    background-color: #05293c;
}
.majors:hover p{
    color: white
}

.majors:hover svg {
    fill:  white;
}


p{
    max-width: 200px;
}

#menu {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #FF4B2B;
    justify-content: center;
}

#menu svg {
    height: 30px;
    width: 30px;
    padding: 20px 100px 0px 100px;
    fill: #fbf6f0;
}

.search {
    height: 50px;
    margin: 5px 10px 0px 10px;
    width: 350px;
}

.twl{
    fill: white;
}
    
#light {
    cursor: pointer;
}

#foot {
    background-color: #f5a25d;
}

#footer {
    display:flex;
    transform: skewX(-45deg);
    height: 500px;
    width: 83.55%;
    background-color: #f5a25d;

}

.orange {
    
    flex-basis: 40%;
    background-color: #f9813a;
    
}

.red {
    background-color: #FF4B2B;
    
    flex-basis: 40%;
    
    
}

#textFooter {
    font-size: 25px;
    z-index: 1;
    display: flex;
    padding-left: 150px;
    position: absolute;
}

#inputFoot {
    border-radius: 27px;
    width: 450px;
    height: 40px;
    margin: 35px 10px 0px 20px;
}

#buttonFoot {
    height: 40px;
    width: 90px;
    border-radius: 23px;
    margin-top: 37px ;
}

#aboutUs {
    font-size: 25px;
    z-index: 1;
    padding-left: 150px;
    padding-top: 100px;
    position: absolute;
}

#names {
    font-size: 25px;
    z-index: 1;
    padding-left: 200px;
    padding-top: 150px;
    position: absolute;
    display: flex;
}

#names h1 {
    padding: 40px;
}

.name {
    margin: 30px 50px 0px 50px;
    text-align: center;
}

.name img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}